In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [101]:
df = pd.read_csv('/content/titanic_toy.csv')

In [102]:
df

      Age     Fare  Family  Survived
0    22.0   7.2500       1         0
1    38.0  71.2833       1         1
2    26.0   7.9250       0         1
3    35.0  53.1000       1         1
4    35.0   8.0500       0         0
..    ...      ...     ...       ...
886  27.0  13.0000       0         0
887  19.0  30.0000       0         1
888   NaN  23.4500       3         0
889  26.0      NaN       0         1
890  32.0   7.7500       0         0

[891 rows x 4 columns]

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Fare      846 non-null    float64
 2   Family    891 non-null    int64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [104]:
df.isnull().mean()*100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [105]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [106]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [107]:
x_train.shape,x_test.shape

((712, 3), (179, 3))

In [108]:
si_age = SimpleImputer(strategy='constant',fill_value=99)
si_fare = SimpleImputer(strategy='constant',fill_value=999)

In [109]:
trf = ColumnTransformer([
    ('si_age',si_age,['Age']),
    ('si_fare',si_fare,['Fare'])
],remainder='passthrough')

In [114]:
x_train_transformed = trf.fit_transform(x_train)
x_test_transformed = trf.transform(x_test)

In [118]:
trf.named_transformers_['si_age'].statistics_

array([99.])

In [120]:
trf.named_transformers_['si_fare'].statistics_

array([999.])

In [121]:
x_train_transformed

array([[ 45.5   ,  28.5   ,   0.    ],
       [ 23.    ,  13.    ,   0.    ],
       [ 32.    ,   7.925 ,   0.    ],
       ...,
       [ 41.    , 999.    ,   2.    ],
       [ 14.    , 120.    ,   3.    ],
       [ 21.    ,  77.2875,   1.    ]])

In [122]:
x_test_transformed

array([[9.900000e+01, 1.524580e+01, 2.000000e+00],
       [3.100000e+01, 1.050000e+01, 0.000000e+00],
       [2.000000e+01, 7.925000e+00, 0.000000e+00],
       [6.000000e+00, 3.300000e+01, 1.000000e+00],
       [1.400000e+01, 1.124170e+01, 1.000000e+00],
       [2.600000e+01, 7.885000e+01, 0.000000e+00],
       [9.900000e+01, 7.750000e+00, 0.000000e+00],
       [1.600000e+01, 1.800000e+01, 2.000000e+00],
       [1.600000e+01, 7.750000e+00, 0.000000e+00],
       [1.900000e+01, 2.628330e+01, 2.000000e+00],
       [3.700000e+01, 5.310000e+01, 1.000000e+00],
       [4.400000e+01, 8.050000e+00, 0.000000e+00],
       [9.900000e+01, 2.546670e+01, 4.000000e+00],
       [3.000000e+01, 7.225000e+00, 0.000000e+00],
       [3.600000e+01, 1.300000e+01, 0.000000e+00],
       [1.600000e+01, 3.940000e+01, 1.000000e+00],
       [4.200000e+01, 5.255420e+01, 1.000000e+00],
       [9.900000e+01, 7.829200e+00, 0.000000e+00],
       [2.700000e+01, 1.300000e+01, 0.000000e+00],
       [4.700000e+01, 5.200000e+01, 0.000000e+00],
       [2.400000e+01, 7.895800e+00, 0.000000e+00],
       [3.400000e+01, 2.655000e+01, 0.000000e+00],
       [1.900000e+01, 7.854200e+00, 1.000000e+00],
       [2.000000e+01, 9.225000e+00, 0.000000e+00],
       [9.900000e+01, 1.450000e+01, 0.000000e+00],
       [1.000000e+01, 2.790000e+01, 5.000000e+00],
       [4.000000e+01, 2.772080e+01, 0.000000e+00],
       [3.100000e+01, 9.990000e+02, 0.000000e+00],
       [4.000000e+00, 2.790000e+01, 5.000000e+00],
       [3.100000e+01, 7.854200e+00, 0.000000e+00],
       [1.900000e+01, 7.895800e+00, 0.000000e+00],
       [2.200000e+01, 7.750000e+00, 0.000000e+00],
       [9.900000e+01, 3.069580e+01, 0.000000e+00],
       [9.900000e+01, 7.550000e+00, 0.000000e+00],
       [1.800000e+01, 8.050000e+00, 0.000000e+00],
       [2.700000e+01, 1.445420e+01, 1.000000e+00],
       [2.800000e+01, 3.550000e+01, 0.000000e+00],
       [9.900000e+01, 7.750000e+00, 0.000000e+00],
       [3.000000e+01, 3.100000e+01, 0.000000e+00],
       [9.900000e+01, 7.895800e+00, 0.000000e+00],
       [2.100000e+01, 7.350000e+01, 2.000000e+00],
       [2.900000e+01, 7.045800e+00, 1.000000e+00],
       [9.900000e+01, 8.050000e+00, 0.000000e+00],
       [9.900000e+01, 7.750000e+00, 0.000000e+00],
       [4.500000e+01, 1.445420e+01, 1.000000e+00],
       [1.600000e+01, 3.437500e+01, 4.000000e+00],
       [1.900000e+01, 8.158300e+00, 0.000000e+00],
       [2.300000e+01, 9.225000e+00, 0.000000e+00],
       [2.400000e+01, 7.050000e+00, 0.000000e+00],
       [5.800000e+01, 1.132750e+02, 2.000000e+00],
       [5.000000e+00, 1.925830e+01, 3.000000e+00],
       [5.200000e+01, 9.350000e+01, 2.000000e+00],
       [4.000000e+01, 2.790000e+01, 5.000000e+00],
       [1.100000e+01, 1.200000e+02, 3.000000e+00],
       [6.500000e+01, 7.750000e+00, 0.000000e+00],
       [1.800000e+01, 7.965000e+01, 2.000000e+00],
       [3.200000e+01, 1.050000e+01, 0.000000e+00],
       [5.000000e+01, 2.475208e+02, 1.000000e+00],
       [3.500000e+01, 9.990000e+02, 0.000000e+00],
       [1.900000e+01, 7.879200e+00, 0.000000e+00],
       [2.100000e+01, 7.775000e+00, 0.000000e+00],
       [1.300000e+01, 1.950000e+01, 1.000000e+00],
       [2.800000e+01, 2.600000e+01, 1.000000e+00],
       [9.900000e+01, 2.592500e+01, 0.000000e+00],
       [9.900000e+01, 7.750000e+00, 0.000000e+00],
       [5.700000e+01, 1.050000e+01, 0.000000e+00],
       [2.100000e+01, 7.350000e+01, 0.000000e+00],
       [2.900000e+01, 7.875000e+00, 0.000000e+00],
       [1.700000e+01, 7.229200e+00, 2.000000e+00],
       [5.200000e+01, 7.826670e+01, 1.000000e+00],
       [2.600000e+01, 2.600000e+01, 2.000000e+00],
       [1.800000e+01, 2.623750e+02, 4.000000e+00],
       [2.600000e+01, 9.990000e+02, 0.000000e+00],
       [3.900000e+01, 8.315830e+01, 2.000000e+00],
       [2.300000e+01, 7.854200e+00, 0.000000e+00],
       [3.600000e+01, 1.555000e+01, 1.000000e+00],
       [3.050000e+01, 7.750000e+00, 0.000000e+00],
       [2.200000e+01, 4.950000e+01, 2.000000e+00],
       [3.800000e+01, 1.300000e+01, 0.000000e+00],
       [4.100000e+01, 2.021250e+01, 2.000000e+00],
       [1.600000e+01, 9.990000e+02, 5.000000e+00],
       [2.900000e+01, 1.050000e+01, 0.000000e+00],
       [4.000000e+01, 1.345000e+02, 2.000000e+00],
       [9.900000e+01, 7.737500e+00, 0.000000e+00],
       [5.600000e+01, 3.069580e+01, 0.000000e+00],
       [7.100000e+01, 4.950420e+01, 0.000000e+00],
       [3.100000e+01, 1.132750e+02, 1.000000e+00],
       [3.000000e+01, 5.692920e+01, 0.000000e+00],
       [3.800000e+01, 0.000000e+00, 0.000000e+00],
       [9.900000e+01, 7.250000e+00, 0.000000e+00],
       [9.000000e+00, 2.052500e+01, 2.000000e+00],
       [9.000000e+00, 3.127500e+01, 6.000000e+00],
       [6.100000e+01, 3.232080e+01, 0.000000e+00],
       [9.900000e+01, 7.729200e+00, 0.000000e+00],
       [9.900000e+01, 7.895800e+00, 0.000000e+00],
       [2.800000e+01, 9.990000e+02, 0.000000e+00],
       [4.800000e+01, 5.200000e+01, 1.000000e+00],
       [4.500000e+01, 8.050000e+00, 0.000000e+00],
       [3.600000e+01, 9.990000e+02, 0.000000e+00],
       [2.700000e+01, 7.895800e+00, 0.000000e+00],
       [6.400000e+01, 2.600000e+01, 0.000000e+00],
       [3.500000e+01, 7.125000e+00, 0.000000e+00],
       [1.900000e+01, 9.107920e+01, 1.000000e+00],
       [3.800000e+01, 7.050000e+00, 0.000000e+00],
       [3.050000e+01, 8.050000e+00, 0.000000e+00],
       [2.500000e+01, 7.775000e+00, 1.000000e+00],
       [4.000000e+01, 3.900000e+01, 2.000000e+00],
       [4.700000e+01, 3.850000e+01, 0.000000e+00],
       [3.000000e+01, 9.500000e+00, 0.000000e+00],
       [4.000000e+01, 3.100000e+01, 0.000000e+00],
       [9.900000e+01, 5.200000e+01, 1.000000e+00],
       [2.050000e+01, 7.250000e+00, 0.000000e+00],
       [9.900000e+01, 8.910420e+01, 1.000000e+00],
       [3.600000e+01, 2.628750e+01, 0.000000e+00],
       [9.900000e+01, 2.217792e+02, 0.000000e+00],
       [2.000000e+01, 9.845800e+00, 0.000000e+00],
       [7.100000e+01, 3.465420e+01, 0.000000e+00],
       [3.600000e+01, 1.287500e+01, 0.000000e+00],
       [2.200000e+01, 2.900000e+01, 2.000000e+00],
       [4.800000e+01, 3.437500e+01, 4.000000e+00],
       [2.300000e+01, 1.150000e+01, 3.000000e+00],
       [3.200000e+01, 7.629170e+01, 0.000000e+00],
       [6.300000e+01, 7.795830e+01, 1.000000e+00],
       [8.300000e-01, 2.900000e+01, 2.000000e+00],
       [2.500000e+01, 7.250000e+00, 0.000000e+00],
       [3.500000e+01, 2.655000e+01, 0.000000e+00],
       [4.900000e+01, 2.592920e+01, 0.000000e+00],
       [2.400000e+01, 7.920000e+01, 0.000000e+00],
       [9.900000e+01, 1.445830e+01, 1.000000e+00],
       [2.100000e+01, 8.050000e+00, 0.000000e+00],
       [9.900000e+01, 7.879200e+00, 0.000000e+00],
       [9.900000e+01, 1.524580e+01, 2.000000e+00],
       [9.900000e+01, 0.000000e+00, 0.000000e+00],
       [5.000000e+00, 1.247500e+01, 0.000000e+00],
       [4.900000e+01, 5.692920e+01, 1.000000e+00],
       [1.500000e+01, 1.445420e+01, 1.000000e+00],
       [9.900000e+01, 1.108833e+02, 0.000000e+00],
       [2.900000e+01, 7.775000e+00, 0.000000e+00],
       [4.200000e+01, 7.550000e+00, 0.000000e+00],
       [1.800000e+01, 1.780000e+01, 1.000000e+00],
       [2.100000e+01, 8.433300e+00, 0.000000e+00],
       [4.400000e+01, 2.600000e+01, 1.000000e+00],
       [2.800000e+01, 1.300000e+01, 0.000000e+00],
       [3.700000e+01, 2.600000e+01, 1.000000e+00],
       [3.900000e+01, 2.912500e+01, 5.000000e+00],
       [3.400000e+01, 3.250000e+01, 2.000000e+00],
       [3.000000e+01, 1.300000e+01, 0.000000e+00],
       [6.600000e+01, 1.050000e+01, 0.000000e+00],
       [9.900000e+01, 1.465208e+02, 1.000000e+00],
       [4.300000e+01, 8.050000e+00, 0.000000e+00],
       [9.900000e+01, 8.712500e+00, 0.000000e+00],
       [2.400000e+01, 7.495800e+00, 0.000000e+00],
       [1.800000e+01, 7.795800e+00, 0.000000e+00],
       [9.900000e+01, 2.415000e+01, 1.000000e+00],
       [9.900000e+01, 8.050000e+00, 0.000000e+00],
       [9.900000e+01, 7.050000e+00, 0.000000e+00],
       [9.900000e+01, 5.649580e+01, 0.000000e+00],
       [9.900000e+01, 9.990000e+02, 0.000000e+00],
       [3.600000e+01, 9.990000e+02, 1.000000e+00],
       [3.200000e+01, 1.550000e+01, 2.000000e+00],
       [2.350000e+01, 7.229200e+00, 0.000000e+00],
       [9.900000e+01, 2.655000e+01, 0.000000e+00],
       [3.900000e+01, 1.300000e+01, 0.000000e+00],
       [9.900000e+01, 8.217080e+01, 1.000000e+00],
       [9.900000e+01, 8.458300e+00, 0.000000e+00],
       [6.500000e+01, 6.197920e+01, 1.000000e+00],
       [2.300000e+01, 1.050000e+01, 0.000000e+00],
       [9.900000e+01, 5.186250e+01, 1.000000e+00],
       [2.200000e+01, 9.990000e+02, 0.000000e+00],
       [3.500000e+01, 7.050000e+00, 0.000000e+00],
       [2.300000e+01, 6.335830e+01, 1.000000e+00],
       [1.800000e+01, 1.300000e+01, 2.000000e+00],
       [3.600000e+01, 2.638750e+01, 0.000000e+00],
       [9.000000e+00, 1.524580e+01, 2.000000e+00],
       [1.700000e+01, 7.125000e+00, 0.000000e+00],
       [9.900000e+01, 7.225000e+00, 0.000000e+00],
       [3.800000e+01, 3.138750e+01, 6.000000e+00],
       [1.700000e+01, 1.050000e+01, 0.000000e+00],
       [4.000000e+00, 1.670000e+01, 2.000000e+00]])